<Project>
  <PropertyGroup>
    <PublishProfile>DefaultContainer</PublishProfile>
    <Dockerfile>Dockerfile</Dockerfile>
    <DockerfileContextDirectory>..</DockerfileContextDirectory>
    <ContainerRegistry></ContainerRegistry>
    <ContainerImageName>flink-dotnet-windows</ContainerImageName>
    <ContainerImageTags>latest</ContainerImageTags>
  </PropertyGroup>
</Project>
