<Project>
  <PropertyGroup>
    <PublishProfile>DefaultContainer</PublishProfile>
    <ContainerRegistry></ContainerRegistry>
    <ContainerImageName>flink-dotnet-windows</ContainerImageName>
    <ContainerImageTags>latest</ContainerImageTags>
    <ContainerBaseImage>mcr.microsoft.com/dotnet/runtime:8.0-nanoserver-ltsc2022</ContainerBaseImage>
    <ContainerRuntimeIdentifier>win-x64</ContainerRuntimeIdentifier>
  </PropertyGroup>
</Project>
